body{
	min-width:1100px;
	background: url("../../image/management/login_background_blue.png") no-repeat;
	position: relative;
}
.login{
	width:500px;
	height:500px;
	position: absolute;
	top:303px;
	right:300px;
}
.login img:first-child{
	margin-left:71px;
}
#login{
	background-color: #fff;
	margin-top:34px;
	height:320px;
	border-radius: 10px;
	box-shadow: 0px 3px 15px 0px rgba(78, 195, 251, 0.3);
}
.login div:first-child,.login div:nth-child(2),.login div:nth-child(3){
	margin-left: 60px;
}
.user_icon{
	position: absolute;
	left:70px;
	top:170px;
}
.password_icon{
	position: absolute;
	left:70px;
	top:240px;
}
#error{
	color:#fe0338;
	display:block;
	height:23px;
	width:340px;
}
.login_bar{
	display: flex;
	flex-direction:row;
}
.login_bar div:first-child{
	margin:17px 0 0 60px;
	display: flex;
	flex-direction:row;
}
#remember_password{
	position:absolute;
	clip:rect(0 0 0 0);
}
.login_bar span{
	font-size: 14px;
	color:#cdcdcd;
	line-height: 42px;
	margin-left:20px;
	display: block;
}
input[type="checkbox"] + label::before {
    content: "\a0";  /*不换行空格*/
    display: inline-block;
    width: 18px;
    height: 18px;
    margin:11px 0 11px 0;
    border-radius: .2em;
    background-color: #fff;
    text-indent: .15em;
   	border: 1px solid #c8c6c6;
}
input[type="checkbox"]:checked + label::before {
    	content: url("../../image/management/hook_icon.png");
    	background-color: #4ec3fb;
	}
	.login_txtbx{
		border-radius: 5px;
		width:334px;
		height:45px;
		padding-left:46px;
	}
	.user{
		border: 1px solid #4ec3fb;
		font-size: 20px;
		color:#333;
		margin-top:80px;
		box-shadow: 0px 3px 15px 0px rgba(78, 195, 251, 0.3);
	}
	.pwd{
		border: 1px solid #d8d8d8;
		font-size: 14px;
		color:#cdcdcd;
		margin-top:23px;
	}
	.submit_btn{
		border-radius: 5px;
		border: 1px solid #4ec3fb;
		color:#fff;
		background-color: #4ec3fb;
		width:93px;
		height:40px;
		margin:11px 0 0 195px;
	}

